<section class="home centerwrap">
  <form action="/user" method="POST">
    <input placeholder="email" type="email" name="user[:email]">
    <input class="goleft" placeholder="password" type="password" name="user[:password]">
    <input class="login" type="submit" value="Log In">
    <!-- <div class="sign_up_box"><a class="signup" href="/registration">Sign Up</a></div> -->
  </form>
  <form action="/registration" method="POST">
    <input class="signup" type="submit" value="Sign Up">
  </form>
</section>

